.wrapper

  .photo-box__logo-box 
    .photo-box__logo-box__contents1 MOROKAMI SEMINAR
    .photo-box__logo-box__contents2
      = link_to"What is Morokami Seminar ?", "/front/:id",class:".photo-box__logo-box__contents2"


  .photo-box
    %ul.slider
      = image_tag 'photo1.jpg', alt: 's', class: 'photo1'
      = image_tag 'photo2.jpg', alt: 's', class: 'photo2'
      = image_tag 'photo3.jpg', alt: 's', class: 'photo3'
      = image_tag 'photo4.jpg', alt: 's', class: 'photo4'
      = image_tag 'photo5.jpg', alt: 's', class: 'photo5'
      = image_tag 'photo6.jpg', alt: 's', class: 'photo6'

  .title information
  .news-box 

    .blog_box
      - @privates.each do |tweet|
        .tweet_title
          = link_to tweet.title, private_path(tweet.id), method: :get
          = link_to 'New', private_path(tweet.id), method: :delete ,class:"deletes"
          
    -#     %html
    -# .iframe-wrap
    -#   %iframe{src: "https://morozemi.ws.hosei.ac.jp/whatsnew.html", class:"info"}
    .news-box__twitter
      %html
      %a.twitter-timeline{:href => "https://twitter.com/morozemi_hosei?ref_src=twsrc%5Etfw"} Tweets by morozemi_hosei
      %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}









:javascript
  $(function(){
    $('.slider').slick({
      arrows: true,
      vertical: false,
      autoplay:true,
      autoplayspeed:500,
    });
  });


