.consumer-box1
  .title-box3
    = image_tag '55908.jpg',  height: '500px', width: '900px' ,class: "toph"
  .contents2
    history


.main1-box
  .five-box
    = image_tag '5æœŸ.png', alt: 'fiveg', class: 'image-9'
    .contents
      %h1<5æœŸç”Ÿ ä¸»ãªå®Ÿç¸¾

      %br ç¬¬ï¼“å›žå…¨å›½å¤§å­¦ç”Ÿãƒžãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚°ã‚³ãƒ³ãƒ†ã‚¹ãƒˆï¼“ä½
      %br
        æ³•æ”¿å¤§å­¦æ‡¸è³žè«–æ–‡4æœ¬å…¥é¸
      %br
      å’æ¥­è«–æ–‡14æœ¬åŸ·ç­†

  .five-box
    .contents
      %h1<6æœŸç”Ÿ ä¸»ãªå®Ÿç¸¾
      %br
      ç¬¬ï¼”å›žå…¨å›½å¤§å­¦ç”Ÿãƒžãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚°ã‚³ãƒ³ãƒ†ã‚¹ãƒˆ
      %br é–¢æ±äºˆé¸å‡ºå ´
      %br æ³•æ”¿å¤§å­¦æ‡¸è³žè«–æ–‡5æœ¬å…¥é¸
      %br å’æ¥­è«–æ–‡11æœ¬åŸ·ç­†
    = image_tag '6æœŸ.png', alt: 'sixg', class: 'image-9'

  .five-box
    = image_tag '7æœŸ.jpg', alt: 'seveng', class: 'image-9'
    .contents
      %h1<7æœŸç”Ÿ ä¸»ãªå®Ÿç¸¾
      %br
      æ ªå¼ä¼šç¤¾ãƒ­ãƒ¼ã‚¶ç‰¹æ®ŠåŒ–ç²§æ–™ã¨ã®ç”£å­¦é€£æºäº‹æ¥­
      %br
      %br ç¬¬ï¼•å›žå…¨å›½å¤§å­¦ç”Ÿãƒžãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚°ã‚³ãƒ³ãƒ†ã‚¹ãƒˆé–¢æ±äºˆé¸å‡ºå ´
      %br
      æ³•æ”¿å¤§å­¦æ‡¸è³žè«–æ–‡9æœ¬å…¥é¸
      %br
      %br å’æ¥­è«–æ–‡9æœ¬åŸ·ç­†


  .five-box
    .contents
      %h1<8æœŸç”Ÿ ä¸»ãªå®Ÿç¸¾
      %br
      æ ªå¼ä¼šç¤¾ãƒ­ãƒ¼ã‚¶ç‰¹æ®ŠåŒ–ç²§æ–™ã¨ã®ç”£å­¦é€£æºäº‹æ¥­
      %br
      %br ç¬¬ï¼”å›žå…¨å›½å¤§å­¦ç”Ÿãƒžãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚°ã‚³ãƒ³ãƒ†ã‚¹ãƒˆé–¢æ±äºˆé¸å‡ºå ´
      %br
      æ³•æ”¿å¤§å­¦æ‡¸è³žè«–æ–‡5æœ¬å…¥é¸
      %br
      %br å’æ¥­è«–æ–‡10æœ¬åŸ·ç­†
    = image_tag '8æœŸç”Ÿ.jpg', alt: 'eightg', class: 'image-9'

  .five-box
    = image_tag '9ki.png', alt: 'nineg', class: 'image-9'
      
    .contents 
      %h1<9æœŸç”Ÿ ä¸»ãªå®Ÿç¸¾
      %br
      æ ªå¼ä¼šç¤¾ãƒ­ãƒ¼ã‚¶ç‰¹æ®ŠåŒ–ç²§æ–™ã¨ã®ç”£å­¦é€£æºäº‹æ¥­
      %br
      %br ç¬¬5å›žå…¨å›½å¤§å­¦ç”Ÿãƒžãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚°ã‚³ãƒ³ãƒ†ã‚¹ãƒˆ
      é–¢æ±äºˆé¸å‡ºå ´
      %br
      %br ç¬¬6å›žå…¨å›½å¤§å­¦ç”Ÿãƒžãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚°ã‚³ãƒ³ãƒ†ã‚¹ãƒˆ
      é–¢æ±äºˆé¸çªç ´
      %br
      %br ç¬¬6å›žå…¨å›½å¤§å­¦ç”Ÿãƒžãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚°ã‚³ãƒ³ãƒ†ã‚¹ãƒˆï¼“ä½
      %br
      concom2016äºˆé¸çªç ´
      %br
      %br æ³•æ”¿å¤§å­¦æ‡¸è³žè«–æ–‡ 6æœ¬å…¥é¸
      
      %br å’æ¥­è«–æ–‡7æœ¬åŸ·ç­†

  .five-box
    .contents
      %h1<10æœŸç”Ÿ ä¸»ãªå®Ÿç¸¾
      %br
      æ ªå¼ä¼šç¤¾ãƒ­ãƒ¼ã‚¶ç‰¹æ®ŠåŒ–ç²§æ–™ã¨ã®ç”£å­¦é€£æºäº‹æ¥­
      %br
      %br ç¬¬5å›žå…¨å›½å­¦ç”Ÿè‹±èªžãƒ—ãƒ¬ã‚¼ãƒ³ãƒ†ãƒ¼ã‚·ãƒ§ãƒ³ã‚³ãƒ³ãƒ†ã‚¹ãƒˆ
      äºˆé¸çªç ´
      %br
      %br ãƒ‡ãƒ¼ã‚¿åˆ†æžã«åŸºã¥ã„ãŸãƒžãƒ¼ã‚±ãƒ†ã‚£ãƒ³ã‚°æˆ¦ç•¥ç«‹æ¡ˆ
      ã‚³ãƒ³ãƒ†ã‚¹ãƒˆ2018 2ä½
      %br
      %br concom2016 äºˆé¸çªç ´
      %br
      concom2017 å„ªå‹
      %br
      %br æ³•æ”¿å¤§å­¦æ‡¸è³žè«–æ–‡7æœ¬å…¥é¸
      %br
      å’æ¥­è«–æ–‡8æœ¬åŸ·ç­†
    = image_tag '10ki.png', alt: 'teng', class: 'image-10'
    

  .five-box
    = image_tag '11ki.png', alt: 'eleveng', class: 'image-11'
    .contents11
      %h1<11æœŸç”Ÿ ä¸»ãªå®Ÿç¸¾
      %br
      concom2017 å„ªå‹
      %br
      %br concom2018 2ä½ãƒ»3ä½
      %br
      ãƒ¯ã‚«ã‚¹ã‚¿ãƒ“ã‚¸ã‚³ãƒ³2018 ãƒãƒ³ãƒ€ã‚¤ãƒŠãƒ ã‚³ã‚¢ãƒŸãƒ¥ãƒ¼ã‚ºãƒ¡ãƒ³ãƒˆéƒ¨é–€
      %br äºˆé¸çªç ´
      %br
      æ³•æ”¿å¤§å­¦æ‡¸è³žè«–æ–‡ 5æœ¬å…¥é¸
      %br
      %br å’æ¥­è«–æ–‡10æœ¬åŸ·ç­†

  .five-box
    .contents12
      %h1<12æœŸç”Ÿ ä¸»ãªå®Ÿç¸¾
      %br
      concom2018 2ä½ãƒ»3ä½
      %br
      %br concom2019 å„ªå‹ãƒ»3ä½
      %br
      æ³•æ”¿å¤§å­¦æ‡¸è³žè«–æ–‡ 6æœ¬å…¥é¸
      %br
      %br ç¬¬1å›ž å­¦ç”Ÿåºƒå‘Šã‚¯ãƒªã‚¨ãƒ¼ãƒ†ã‚£ãƒ–è³ž
      ã€€ã€€éŠ€è³žãƒ»å¯©æŸ»å“¡ç‰¹åˆ¥è³ž(æ± ç”°è³ž)
      %br 
      %br å’æ¥­è«–æ–‡ï¼—æœ¬åŸ·ç­†
      %br
      .w_message å’æ¥­ãŠã‚ã§ã¨ã†ðŸŽ‰

    = image_tag 'S__95313929.jpg', alt: 'twelbg', class: 'image-12',id:'graduate'

    

  .five-box
    = image_tag '13ki.png', alt: 'thirteeng', class: 'image-13'
    .contents11
      %h1<13æœŸç”Ÿ ä¸»ãªå®Ÿç¸¾
      %br
      concom2019 å„ªå‹ãƒ»3ä½
      %br
      %br concom2020 å„ªå‹ãƒ»3ä½
      %br æ³•æ”¿å¤§å­¦æ‡¸è³žè«–æ–‡ 6æœ¬å…¥é¸


  .five-box
    .contents12
      %h1<14æœŸç”Ÿ ä¸»ãªå®Ÿç¸¾
      %br
      concom2020å„ªå‹ï½¥3ä½
      %br
      %br ç¾åœ¨æ´»èºä¸­
      %br
    = image_tag '14ki.jpg', alt: 'twelbg', class: 'image-12'
:javascript
  $('#graduate').on('click',function(){
    $(".w_message").fadeIn(2000);
  })
    









