.show-box
  .show-box-contents
    - @profile.each do |member|
      %br
      %br
      %br 
      写真：
      = image_tag("#{member.images.first.src}")
      %br
      受講者名：
      = member.name 
      %br
      かな：
      = member.kana 
      %br
      電話番号：
      = member.phone_number
      %br
      メールアドレス：
      = member.mail
      %br
      学籍番号：
      = member.number
      
      %br
      学部：
      = member.undergraduate
      
      %br
      学科：
      = member.subject
      
      %br
      GPA：
      = member.gpa
      
      %br
      志望動機：
      = member.motivation
      %br
      自己PR：
      = member.pr
      %br
      どのような学生生活を送りたいですか：
      = member.life
      %br
      どのくらい時間をかけますか：
      = member.time
      %br
      課題：
      = member.task
      面接希望時間：
      = member.time1
      %br
      %br
      = link_to '削除', contact_path(member.id), method: :delete, class:"delete"



   
      



    
