.blogs
  = form_for @interview,url: interview_index_path, local: true do |form|
    .titles
      = form.label :name
      = form.text_field :name
    .time
      = form.label :start_time
      = form.datetime_select :start_time
    %br
    .submit
      = form.submit "決定",class:"send"



  %tbody
    - @interviews.each do |blog|
      %br
      %tr
        %td= blog.name
        %td= blog.start_time.strftime("%Y-%m-%d %H:%M")
        %td= link_to '削除',interview_path(blog.id), method: :delete, data: { confirm: 'Are you sure?' },class:"delete"
      %br
      %br







.another
  = link_to "面接一覧",interview_index_path, class:"home"
  = link_to "採用者一覧","/contact/:id", class:"zemi"